<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <form id="form" th:fragment="form">
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" th:field="*{userData.name}"/>
        </div>
        <div>
            <label for="sectors">Sectors:</label>
            <select id="sectors" multiple size="5"  th:field="*{userData.sectors}">
                <th:block th:each="sector: ${sectors}">
                    <th:block th:replace="~{components.html :: option(${sector})}"/>
                </th:block>
            </select>

        </div>
        <div>
            <input id="terms" type="checkbox" th:field="*{userData.termsAgreement}"/>
            <label for="terms">Agree to terms</label>
        </div>
    </form>


    <th:block th:fragment="option(sector)">
        <option th:value="${sector.id}" th:text="${sector.title}"
                th:style="'padding-left:'+${sector.padding}+'px'"></option>
        <th:block th:each="subSector: ${sector.subSectors}">
            <th:block th:replace="~{components.html :: option(${subSector})}"/>
        </th:block>
    </th:block>

</html>
